[submodule "lib/ImAnim"]
	path = lib/ImAnim
	url = https://github.com/Haselnussbomber/ImAnim.git
	branch = imgui-1.88
[submodule "lib/cimgui"]
	path = lib/cimgui
	url = https://github.com/goatcorp/gc-cimgui.git
	branch = backends
